*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/*header*/
.header{
    display: flex;
    width: 100%;
    height: 100px;
}
.container-header{
    background: #42C2FF;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.header-icon{
    display: flex;
    position: initial;
    width: 25%;
}
.input-search{
    margin: auto 0;
    width: 100%;
    height: 30px ;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 50px  0 0 50px;
}

.content-icon i {
    padding: 5px;
    background: white;
    border-radius: 0  50px 50px 0;
}
.header-search{
    display: flex;
    justify-content: center;
    width: 45%;
}
.content-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-search-content{
    display: inline;
}
.header-shop{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-shop{
    font-size: 35px;
}
.header-button{
    width: 10%;
    margin: auto 0;
    color: white;
    font-family: monospace;
}
/*footer*/
.footer{
    display: grid;
    /*grid-template-columns: repeat(5,1fr);*/
    grid-template-columns: 15% 15% 15% 15% 40% ;
    width: 100%;
    background: #85F4FF;
    justify-content: space-between;
}

.footer section{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #000;

}
.footer section span{
    font-weight: bold;
}
li{
    list-style: none;
}
